[submodule "libultraship"]
	path = libultraship
	url = https://github.com/linkzenic/libultraship.git
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/please-be-nice/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/please-be-nice/OTRExporter
